HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# --- Maven Compiled Code (The biggest problem) ---
target/
*.class
*.jar
*.war
.mvn/

# --- Eclipse IDE Metadata (The "Index" files) ---
.settings/
.classpath
.project
bin/
.metadata/
.recommenders/
*.launch
*.prefs

.gitignore
Dockerfile
.gitattributes
.dockerignore
# --- Logs ---
*.log

DEPLOYMENT-GUIDE.md
.dockerignore
.gitignore
Dockerfile/
Procfile/
deploy.ps1
deploy.sh
mvnw
mvnw.cmd